<h1>Sessions#login</h1>
<p>Find me in app/views/hesti/login.html.erb</p>

<%= form_with url: "/login" do |form| %>
  <%= form.label :email, "Email:" %>
  <%= form.email_field :email, :required => true %>
  <%= form.label :password, "Password:" %>
  <%= form.password_field :password, :required => true %>
  <%= form.submit "Login" %>
<% end %>