<head>
    <%= stylesheet_link_tag "sessions/login", media: "all", "data-turbolinks-track" => true %>
</head>
<body>
  <h1 class= "login_txt">Login</h1>
  <div>
    <%= google_sign_in_button 'Sign in with my Google account', data: {turbo: "false"},  proceed_to: login_sso_path, class: "button" %>
  </div>
  <div class="form">

    <% if flash[:error] %>
      <div class="">
        <span class=""><%= flash[:error] %></span>
      </div>
    <% end %>

    <%= form_with url: "/login", class: "login-form" do |form| %>
      <i class="fas fa-user-circle"></i>
      <%= form.email_field :email, class:"user-input", placeholder: "Email", :required => true %>
      <%= form.password_field :password, class:"user-input", placeholder: "Password", :required => true %>
      <%= form.submit "Login", class: "btn options-02" %>
      <div class="options-02">
        <p>Don't have an account? <%= link_to "Sign Up", "/signup", class: "sml_btn"%></p>
      </div>
    <% end %>
  </div>
</body>