<%= form_with model: @listing, local: true do |listing_form| %>

    <h3 class="section-heading">Title</h3>
    <div class = "col">
        <%= render partial: "field", locals: {form: listing_form, type: "text", attribute: :title, placeholder: "Title", errors: @listing.errors} %>
    </div>

    <h3 class="section-heading">Address</h3>
    <div class = "col">
        <%= render partial: "field", locals: {form: listing_form, type: "text", attribute: :address_line_1, placeholder: "Address Line 1", errors: @listing.errors} %>
        <%= render partial: "field", locals: {form: listing_form, type: "text", attribute: :address_line_2, placeholder: "Address Line 2", errors: @listing.errors} %>
        <%= render partial: "field", locals: {form: listing_form, type: "text", attribute: :city, placeholder: "City", errors: @listing.errors} %>
        <%= render partial: "field", locals: {form: listing_form, type: "text", attribute: :state, placeholder: "State", errors: @listing.errors} %>
        <%= render partial: "field", locals: {form: listing_form, type: "text", attribute: :zip_code, placeholder: "Zip Code", errors: @listing.errors} %>
        <%= render partial: "field", locals: {form: listing_form, type: "text", attribute: :apt_complex, placeholder: "Apartment Complex Name", errors: @listing.errors} %>
    </div>

    <h3 class="section-heading">Rent</h3>
    <div class = "col">
        <span>
            <%= render partial: "field", locals: {form: listing_form, type: "rent", attribute: :rent, placeholder: "", errors: @listing.errors, classes: "rent"} %>
        </span>
    </div>
    <br>

    <h3 class="section-heading">Lease Term</h3>
    <div class = "col">
        <span>
            <%= render partial: "field", locals: {form: listing_form, type: "date", attribute: :lease_start, placeholder: "", errors: @listing.errors, classes: "date"} %>
            <span class="divider">&mdash;</span>
            <%= render partial: "field", locals: {form: listing_form, type: "date", attribute: :lease_end, placeholder: "", errors: @listing.errors, classes: "date"} %>
        </span>
    </div>
    <br>

    <h3 class="section-heading">Bedroom</h3>
    <div class = "col">
        <span>
            <%= listing_form.radio_button :private_bedroom, true %>
            <%= listing_form.label :private_bedroom, "Private", :value => "true"  %>
        </span>
        <span>
            <%= listing_form.radio_button :private_bedroom, false %>
            <%= listing_form.label :private_bedroom, "Shared", :value => "false" %>
        </span>
    </div>
    <br>

    <h3 class="section-heading">Bathroom</h3>
    <div class = "col">
        <span>
            <%= listing_form.radio_button :private_bathroom, true %>
            <%= listing_form.label :private_bathroom, "Private", :value => "true"  %>
        </span>
        <span>
            <%= listing_form.radio_button :private_bathroom, false %>
            <%= listing_form.label :private_bathroom, "Shared", :value => "false" %>
        </span>
    </div>
    <br>

    <h3 class="section-heading">House/Apartment Information</h3>
    <div class = "col col_3">
        <%= render partial: "field", locals: {form: listing_form, type: "number", attribute: :num_roommates, placeholder: "# Roommates", errors: @listing.errors, classes: "roommates"} %>  
        
        <span>
            <%= render partial: "field", locals: {form: listing_form, type: "number", attribute: :num_bedrooms, placeholder: "# Bd", errors: @listing.errors, classes: "left-x"} %>  
            <span class="divider">X</span>
            <%= render partial: "field", locals: {form: listing_form, type: "number", attribute: :num_bathrooms, placeholder: "# Br", errors: @listing.errors, classes: "right-x"} %>
        </span>
        <%= render partial: "field", locals: {form: listing_form, type: "number", attribute: :num_pets, placeholder: "# Pets", errors: @listing.errors, classes: "pets"} %>
       
    </div>
    <br>

    <h3 class="section-heading">Description</h3>
    <div class="col">
        <%= listing_form.text_area :description, class:"user-input", placeholder: "Description" %>
    </div>
    <br>

    <h3 class="section-heading">Amenities</h3>
    <% amenities.each do |amenity| %>
        <%= listing_form.check_box :amenitymapping, { multiple: true, checked: amenities_checked.include?(amenity.amenity_name) }, amenity.id %>
        <%= label_tag(:amenitymapping, amenity.amenity_name) %>
        <br>
    <% end %>
    <br>
    <div class="add-pic">
        <div class="field">
            <%= listing_form.label :title %>
            <%= listing_form.text_field :title %>
        </div>

        <div class="field">
            <%= listing_form.label :caption %>
            <%= listing_form.text_area :title %>
        </div>

        <div class="field">
            <%= listing_form.label :image %>
            <%= listing_form.file_field :image %>
        </div>
    </div>
    <br>
    <%= listing_form.submit button_label, class: "button" %> 
<% end %>