<%= link_to listing_path(listing.id), target: :_blank, style: "text-decoration: none;" do %>
    <div style="display: grid; grid-template-columns: 30% 30% 10%; justify-content: center; justify-items: left; align-items: center;">
        
        <div style= "width: 60%; height: 60%; align: right">
            <%= image_tag(@listing.image, style:'width:100%')%>
        </div>

        <div><%= image_tag ("bedroom.jpg"), style: "width: 60%; height: 60%", align: "right" %></div>
        <div style="color: white; margin-left: 20px">
            <h3><%= listing.title %></h3>
            <% if listing.apt_complex %>
                <%= listing.apt_complex %>
                &sdot;
            <% end %>
            
            <% if listing.rent %>
                $<%= number_with_precision(listing.rent, precision: 2,  strip_insignificant_zeros: true) %>/month
                &sdot;
            <% end %>

            <% if listing.num_bedrooms && listing.num_bathrooms %>
                <%= listing.num_bedrooms %> Bd X <%= listing.num_bathrooms %> Bth
                &sdot;
            <% end %>

        </div>
        <div>
            <%= form_with url: "/listings/favorite", method: :post, :local => false, :remote => true do |form| %>
                <%= form.check_box :favorite, { multiple: true, onchange: "this.form.submit()", checked: !@favorites.blank? && @favorites.include?(listing.id) }, true %>
                <%= form.hidden_field :favorite_val, value: listing.id %>
            <% end %>
        </div>
    </div>
    <hr/>
<% end %>
