<head>
   <title>Create a Listing</title>
</head>
<body class="create_listing_page">
   <div class="listing_inputs">
      <%= form_with model: @listing, url: "/listings", method: :post do |listing_form| %>
         <%= listing_form.label :title, "Title" %>
         <%= listing_form.text_field :title, :required => true %>

         <%= listing_form.label :address_line_1, "Address Line 1" %>
         <%= listing_form.text_field :address_line_1, :required => true %>

         <%= listing_form.label :address_line_2, "Address Line 2" %>
         <%= listing_form.text_field :address_line_2 %>

         <%= listing_form.label :city, "City" %>
         <%= listing_form.text_field :city, :required => true %>

         <%= listing_form.label :state, "State (ex: TX)" %>
         <%= listing_form.text_field :state, :maxlength => 2, :required => true %>

         <%= listing_form.label :zip_code, "Zip Code" %>
         <%= listing_form.text_field :zip_code, :maxlength => 5, :required => true %>

         <%= listing_form.label :apt_complex, "Apartment Complex Name" %>
         <%= listing_form.text_field :apt_complex %>

         <%= listing_form.label :rent, "Rent" %>
         <%= listing_form.number_field :rent, step: 0.01, :required => true %>
            <span> /month </span>

         <%# maybe make this a dropdown/select %>
         <%= listing_form.label :lease_start, "Lease Start" %>
         <%= listing_form.date_field :lease_start, :required => true %>
         <%= listing_form.label :lease_end, "Lease End" %>
         <%= listing_form.date_field :lease_end, :required => true %>
         <%#  %>

         <%# <% listing_form.label :private_bedroom, "Private Bedroom?" %>
         <%# <% listing_form.check_box :private_bedroom %>

         <%= listing_form.label :private_bedroom, "Bedroom" %><br />
         <%= listing_form.radio_button :private_bedroom, true %>
         <%= listing_form.label :private_bedroom, "Private", :value => "true"  %>
         <%= listing_form.radio_button :private_bedroom, false %>
         <%= listing_form.label :private_bedroom, "Shared", :value => "false" %>

         <%# <% listing_form.label :private_bathroom, "Private Bathroom?" %>
         <%# <% listing_form.check_box :private_bathrom %>

         <%= listing_form.label :private_bathroom, "Bathroom" %><br />
         <%= listing_form.radio_button :private_bathroom, true %>
         <%= listing_form.label :private_bathroom, "Private", :value => "true"  %>
         <%= listing_form.radio_button :private_bathroom, false %>
         <%= listing_form.label :private_bathroom, "Shared", :value => "false" %>


         <%= listing_form.label :num_roommates, "Number of Roommates" %>
         <%= listing_form.number_field :num_roommates, min: 0 %>

         <%= listing_form.label :num_bedrooms, "Number of Bedrooms" %>
         <%= listing_form.number_field :num_bedrooms, min: 0 %>

         <%= listing_form.label :num_bathrooms, "Number of Bathrooms" %>
         <%= listing_form.number_field :num_bathrooms, min: 0 %>

         <%= listing_form.label :num_pets, "Number of Pets" %>
         <%= listing_form.number_field :num_pets, min: 0 %>
         
         <%= listing_form.label :description, "Description" %>
         <%= listing_form.text_area :description %>

         <%= listing_form.submit "Submit" %>

      <% end %>
   </div>
</body>
