<%# <h1>Listings#show</h1>
<p>Find me in app/views/listings/show.html.erb</p> %>

<% stylesheet_link_tag "show" %>


<h1><%= @listing.title %></h1>
<img src="https://images.unsplash.com/photo-1543393470-b2c833b98dce?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8aGVhcnRofGVufDB8fDB8fA%3D%3D&w=1000&q=80">
<h3 style="margin-bottom: 0;"><%= @listing.apt_complex %></h3>
<div>
    <li><%= @listing.private_bedroom ? "Private Bedroom" : "Shared Bedroom" %></li> &sdot;
    <li><%= @listing.private_bathroom ? "Private Bathroom" : "Shared Bathroom" %></li> &sdot;
    <li><%= @listing.num_bedrooms %> BD x <%= @listing.num_bathrooms %> BA </li>
    <br/>
    Rent: <%= @listing.rent %>
</div>
<hr/>
<div>
    <div class="container">
        <div>
            Lease Start: 
        </div>
        <div>
            <%= @listing.lease_start %>
        </div>
    </div>
    <div class="container">
        <div>
            Lease End: 
        </div>
        <div>
            <%= @listing.lease_end %>
        </div>
    </div>
</div>
<div>
    Life Count:
    <div class="container">
        <div class="tab">
            Number of Roomates:
        </div>
        <div>
            <%= @listing.num_roommates %>
        </div>
    </div>
    <div class="container">
        <div class="tab">
            Number of Pets: 
        </div>
        <div>
            <%= @listing.num_pets %>
        </div>
    </div>
</div>

<div class="container">
    <div>
        Description: 
    </div>
    <div>
        <%= @listing.description %>
    </div>
</div>

<div class="container">
    <div>
        Amenities: 
    </div>
    <div>
        <% for amenity in @amenities %>
            <li><%= amenity %></li>
            <br>
        <% end %>
    </div>
</div>