<!DOCTYPE html>
<html>
  <head>
    <title>Hesti</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "/users/new.css", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="signup">
    <h1 style="position: absolute;top: -47px;">Edit Account Info</h1>

    <div class = "signup-form">
        <%= form_with model: @user, url: update_user_path, local: true, method: :put do |user_form| %>
            <%= render partial: "form", locals: {form: user_form, errors: @user.errors} %>
            <%= user_form.submit "Submit", class: "btn" %>
        <% end %>
    </div>
  </body>
  
</html>