<h1>Users#edit</h1>
<p>Find me in app/views/users/edit.html.erb</p>

<h2>Edit Account Info</h2>

<%= form_with model: @user, url: update_user_path, method: :put do |user_form| %>
    <%= label :user, :first_name, "First Name" %>
    <%= user_form.text_field :first_name, class:"user-input", placeholder: "First Name", :required => true %>
    <%= label :user, :last_name, "Last Name" %>
    <%= user_form.text_field :last_name, class:"user-input", placeholder: "Last Name", :required => true %>
    <%= label :user, :username, "Username" %>
    <%= user_form.text_field :username, class:"user-input", placeholder: "Username", :required => true %>
    <%= label :user, :email, "Email" %>
    <%= user_form.email_field :email, class:"user-input", placeholder: "Email", :required => true %>
    <%= label :user, :password, "Password" %>
    <%= user_form.password_field :password, class:"user-input", placeholder: "Password",:required => true %>
    <%= user_form.submit "Sign Up", class: "btn" %>
<% end %>