<!DOCTYPE html>
<html>
  <head>
    <title>Hesti</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "/users/new.css", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="signup">
    <h1 style="position: absolute;top: -47px;">Sign Up</h1>

    <div class = "signup-form">
      <%= form_with model: @user, local: true, url: "/create", class: "signup-form" do |user_form| %>

      <%= render partial: "form", locals: {form: user_form, errors: @user.errors} %>

      <%= user_form.submit "Sign Up", class: "btn" %>

      <div class="options-02">
        <p>Already Registered? <%= link_to "Login", "/login"%></p>
      </div>

      <% end %>

    </div>
  </body>
  
</html>