<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<h3>User Profile</h3>
<h3>First Name: <%= @user.first_name%></h3>
<h3>Last Name: <%= @user.last_name%></h3>
<h3>Username: <%= @user.username%></h3>
<h3>Email: <%= @user.email%></h3>

<%= button_to "Edit Account", edit_user_path, method: :get, class: "button" %>
<%= button_to "Deactivate my Account", deactivate_path, method: :delete, class: "button" %>

<h3>My Listings</h3>
<table>
    <%= render partial: "listing", collection: @listings %>
</table>