<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<h3>User Profile</h3>
<h3>First Name: <%= @user.first_name%></h3>
<h3>Last Name: <%= @user.last_name%></h3>
<h3>Username: <%= @user.username%></h3>
<h3>Email: <%= @user.email%></h3>
<h3>Organization: <%= @org ? @org.name : 'None' %></h3>

<%= button_to "Edit Account", edit_user_path, method: :get, class: "button" %>
<%= button_to "Deactivate my Account", deactivate_path, method: :delete, class: "button" %>
<%= button_to "Create Listing", new_listing_path, method: :get, class: "button" %>

<h3>My Listings</h3>
<%= render partial: "listing", collection: @listings, locals: {favorited_by: @favorited_by, favorite_option: false, request_option: false } %>

<h3>My Favorites</h3>
<%= render partial: "listing", collection: @favorites, locals: {favorited_by: [], favorite_option: true, request_option: false } %>

<h3>My Requests</h3>
<%= render partial: "listing", collection: @requests, locals: {favorited_by: [], favorite_option: false, request_option: true } %>