<h1>Hesti#new_account</h1>
<p>Find me in app/views/hesti/new_account.html.erb</p>

<%= form_with model: @user, url: "/create_account" do |user_form| %>
  <%= user_form.label :first_name, "First Name:" %>
  <%= user_form.text_field :first_name, :required => true %>
  <%= user_form.label :last_name, "Last Name:" %>
  <%= user_form.text_field :last_name, :required => true %>
  <%= user_form.label :username, "Username:" %>
  <%= user_form.text_field :username, :required => true %>
  <%= user_form.label :email, "Email Address:" %>
  <%= user_form.email_field :email, :required => true %>
  <%= user_form.label :password, "Password:" %>
  <%= user_form.password_field :password, :required => true %>
  <%= user_form.submit "Sign Up" %>
<% end %>