<!DOCTYPE html>
<html>
  <head>
    <title>Hesti</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="navBar">
      <div class="logo-image">
        <%= image_tag ("Logo_colored.png") %> 
      </div>
      <nav class="navMenu">
        <a href="#">Home</a>
        <a href="#">Search</a>
        <a href="#">Listings</a>
        <a href="#">About</a> 

        <div class="dot"></div>
      </nav>
    </div>
    <%= yield %>
  </body>
</html>
