<!DOCTYPE html>
<html>
  <head>
    <title>Hesti</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Muli&display=swap">
  </head>

  <body>
    <% if session[:user_id] && session[:org_color] %>
      <style>
        :root {
          --nav-color: <%= session[:org_color].nil? ? "#FFFFFF" : session[:org_color] %>;
        }
      </style>
    <% end %>
    <div class="navBar">
      <div class="logo-image">
        <%= image_tag ("Logo_colored.png") %> 
      </div>
      <nav class="navMenu">
        <%= link_to "Home", root_path %>
        <%= link_to "Listings", listings_path %>
        <% if session[:user_id] %>
          <% if session[:admin] %>
            <%= link_to "Organization", organization_path %>
          <% else %>
            <%= link_to "Profile", profile_path %>
          <% end %>
            <%= link_to "Logout", logout_path %> 
        <% else %>
            <%= link_to "Log In", login_path %> 
        <% end %>

        <div class="dot"></div>
      </nav>
    </div>
    <%= yield %>
  </body>

</html>
